<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="petstore.swagger.io testing">
    <test name="Petstore test">
        <classes>
            <class name="tests.pet.PetTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->